__pycache__/
*.egg-info/
.ropeproject/
.mypy_cache/
*.pyc
*.spec
build/
dist/
*venv*/
version_file.txt
Session.vim

resources/videos/*
!resources/videos/pre-recorded-1.mp4
!resources/videos/pre-recorded-2.mp4

resources/images/*
!resources/images/image-1.jpg
!resources/images/image-2.jpg

resources/config/*
!resources/config/image_1.json
!resources/config/image_2.json
!resources/config/live_footage.json
!resources/config/pre_recorded_footage.json
